/* spell icons */
.spell.sp-0,.spell.sp-1,.spell.sp-2,.spell.sp-3,.spell.sp-4,.spell.sp-5,.spell.sp-6,.spell.sp-7,.spell.sp-8,.spell.sp-9,.spell.sp-10,.spell.sp-11,.spell.sp-12,.spell.sp-13,.spell.sp-14,.spell.sp-15,.spell.sp-16,.spell.sp-17,.spell.sp-18,.spell.sp-19,.spell.sp-20,.spell.sp-21,.spell.sp-22,.spell.sp-23,.spell.sp-24,.spell.sp-25,.spell.sp-26,.spell.sp-27,.spell.sp-28,.spell.sp-29,.spell.sp-30,.spell.sp-31,.spell.sp-32,.spell.sp-33,.spell.sp-34,.spell.sp-35,.spell.sp-36,.spell.sp-37,.spell.sp-38,.spell.sp-39,.spell.sp-40,.spell.sp-41,.spell.sp-42,.spell.sp-43,.spell.sp-44,.spell.sp-45,.spell.sp-46,.spell.sp-47,.spell.sp-48,.spell.sp-49,.spell.sp-50,.spell.sp-51,.spell.sp-52,.spell.sp-53,.spell.sp-54,.spell.sp-55,.spell.sp-56,.spell.sp-57,.spell.sp-58,.spell.sp-59{display:inline-block;flex:none;width:26px;height:26px;background-image:url(../assets/ui/skills.png);background-size:800% 800%;image-rendering:pixelated;vertical-align:-6px;}
.spell.sp-0{background-position:0.0% 0.0%;}
.spell.sp-1{background-position:14.29% 0.0%;}
.spell.sp-2{background-position:28.57% 0.0%;}
.spell.sp-3{background-position:42.86% 0.0%;}
.spell.sp-4{background-position:57.14% 0.0%;}
.spell.sp-5{background-position:71.43% 0.0%;}
.spell.sp-6{background-position:85.71% 0.0%;}
.spell.sp-7{background-position:100.0% 0.0%;}
.spell.sp-8{background-position:0.0% 14.29%;}
.spell.sp-9{background-position:14.29% 14.29%;}
.spell.sp-10{background-position:28.57% 14.29%;}
.spell.sp-11{background-position:42.86% 14.29%;}
.spell.sp-12{background-position:57.14% 14.29%;}
.spell.sp-13{background-position:71.43% 14.29%;}
.spell.sp-14{background-position:85.71% 14.29%;}
.spell.sp-15{background-position:100.0% 14.29%;}
.spell.sp-16{background-position:0.0% 28.57%;}
.spell.sp-17{background-position:14.29% 28.57%;}
.spell.sp-18{background-position:28.57% 28.57%;}
.spell.sp-19{background-position:42.86% 28.57%;}
.spell.sp-20{background-position:57.14% 28.57%;}
.spell.sp-21{background-position:71.43% 28.57%;}
.spell.sp-22{background-position:85.71% 28.57%;}
.spell.sp-23{background-position:100.0% 28.57%;}
.spell.sp-24{background-position:0.0% 42.86%;}
.spell.sp-25{background-position:14.29% 42.86%;}
.spell.sp-26{background-position:28.57% 42.86%;}
.spell.sp-27{background-position:42.86% 42.86%;}
.spell.sp-28{background-position:57.14% 42.86%;}
.spell.sp-29{background-position:71.43% 42.86%;}
.spell.sp-30{background-position:85.71% 42.86%;}
.spell.sp-31{background-position:100.0% 42.86%;}
.spell.sp-32{background-position:0.0% 57.14%;}
.spell.sp-33{background-position:14.29% 57.14%;}
.spell.sp-34{background-position:28.57% 57.14%;}
.spell.sp-35{background-position:42.86% 57.14%;}
.spell.sp-36{background-position:57.14% 57.14%;}
.spell.sp-37{background-position:71.43% 57.14%;}
.spell.sp-38{background-position:85.71% 57.14%;}
.spell.sp-39{background-position:100.0% 57.14%;}
.spell.sp-40{background-position:0.0% 71.43%;}
.spell.sp-41{background-position:14.29% 71.43%;}
.spell.sp-42{background-position:28.57% 71.43%;}
.spell.sp-43{background-position:42.86% 71.43%;}
.spell.sp-44{background-position:57.14% 71.43%;}
.spell.sp-45{background-position:71.43% 71.43%;}
.spell.sp-46{background-position:85.71% 71.43%;}
.spell.sp-47{background-position:100.0% 71.43%;}
.spell.sp-48{background-position:0.0% 85.71%;}
.spell.sp-49{background-position:14.29% 85.71%;}
.spell.sp-50{background-position:28.57% 85.71%;}
.spell.sp-51{background-position:42.86% 85.71%;}
.spell.sp-52{background-position:57.14% 85.71%;}
.spell.sp-53{background-position:71.43% 85.71%;}
.spell.sp-54{background-position:85.71% 85.71%;}
.spell.sp-55{background-position:100.0% 85.71%;}
.spell.sp-56{background-position:0.0% 100.0%;}
.spell.sp-57{background-position:14.29% 100.0%;}
.spell.sp-58{background-position:28.57% 100.0%;}
.spell.sp-59{background-position:42.86% 100.0%;}
.spell.big{width:34px;height:34px;vertical-align:-7px;}
.spell.huge{width:48px;height:48px;vertical-align:-11px;}
